/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* colors */
:root {
  --color01: #2e8a99;
  --color02: #4F9DA9;
  --color03: #A7D8D7;
  --color04: #EAF3F4;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #000000;
}

.topicdiv {
  display: flex;
  background-color: var(--color04);
  border-radius: 10px;
  padding: 10px;
  margin: 10px 20px;
  color: var(--color01);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.269);
  justify-content: space-between;
}

.topicdiv .btn{
  /* background-color: var(--color01); */
  color: var(--color01);
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  justify-content: center;
  align-items: center;

}

.topicdiv .btn .icon{
  font-size: 2rem
}

.topicdiv .btn:hover{
  color: var(--black1);
}



.advertisements{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content:space-evenly
}

.ads{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content:start;
}

.ads-card{
  flex:0 0 auto;
  width: 400px;
  height: 450px;
  margin: 20px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.ads-card:hover{
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.288);

}

.ads-card .img{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  background-size: cover;
  object-fit: cover;
  background-position: center;

}

.ads-card .ads-info{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--color01);
  border-radius: 0 0 20px 20px;
  color: var(--white); 
}

.ads-card .ads-info h2{
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.ads-card .ads-info h4{
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.ads-card .ads-info .viewmore{
  text-decoration: none;
  color: var(--white);
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--color02);
}

.ads-card .ads-info .viewmore:hover{
  background-color: var(--color03);
  color: var(--black1);
}

.ads-card .ads-info .viewmore a{
  text-decoration: none;
  color: var(--white);
}



@media screen and (max-width: 768px) {

  .ads{
    justify-content: center;
    /* background: #000000; */

  }
  .ads-card{
    width: 400px;
    height: 450px;

  }
  .ads-card .ads-info .viewmore{
    font-size: 10px;
  }

}

@media screen and (max-width: 500px) {
  .ads-card{
    width: 350px;
    height: 340px;
  }
  .ads-card .ads-info .viewmore{
    font-size: 8px;
  }
}
