/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

/* Color variables */
:root {
    --primary: #2e8a99;
    --secondary: #4f9da9;
}

/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and font */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5; /* Light gray background */
}

/* Container styles */
.container {
    background-color: #ffffff; /* White background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin: 50px auto; /* Centering the container */
    max-width: 600px; /* Limiting container width */
}

/* Heading styles */
.text-primary {
    color: var(--primary);
    font-size: 24px;
    font-weight: 600; /* Bold */
    margin-bottom: 15px;
}

/* Form input styles */
.form-control {
    border: 1px solid #A7D8D7; /* Light blue border */
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    /* margin-bottom: 15px; */
    transition: border-color 0.3s ease; /* Smooth border color transition */
}

.form-control:focus {
    outline: none; /* Remove default focus outline */
    border-color: var(--primary); /* Change border color on focus */
}

.form-invalid{
    color: rgb(172,5,5);
    font-size: 0.85em;
    margin-bottom: 10px;
}


/* Button styles */
.btn-container {
    display: flex;
    margin-top: 20px;
}
.btn-primary {
    background-color: var(--primary);
    border: none;
    color: #ffffff; /* White text */
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.btn-primary:hover {
    background-color: var(--secondary); /* Darker shade on hover */
}

/* Alert styles */
.alert {
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.alert-success {
    background-color: #dff0d8; /* Green background */
    color: #3c763d; /* Dark green text */
}

.alert-warning {
    background-color: #fcf8e3; /* Yellow background */
    color: #8a6d3b; /* Dark yellow text */
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px; /* Adjust table font size */
}

th, td {
    padding: 8px; /* Adjust table cell padding */
    text-align: left;
    border-bottom: 1px solid #e0e0e0; /* Light gray border */
}

th {
    background-color: var(--primary);
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background for even rows */
}

tr:hover {
    background-color: #e0e0e0; /* Light gray background on hover */
}
