/* colors */

:root {
    --color01: #2e8a99;
    --color02: #4F9DA9;
    --color03: #A7D8D7;
    --color04: #EAF3F4;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #000000;
}


::-webkit-scrollbar {
    width: 0px;
}

.cart-section {
    /* max-width: 800px; */
    margin: 10px 10%;
    padding: 20px;
    background-color: var(--color04);
    border-radius: 8px;
    margin-bottom: 20px;
}

.cart{
    margin-top: 20px;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    /* justify-content: space-between; */
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.cart-total {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}

.remove-btn {
    background-color: var(--color02);
    color: var(--white);
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 30%;
}

.remove-btn:hover {
    background-color: var(--color01);
}

/* Add these styles to your existing CSS */

.cart-item-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    font-weight: bold;
}

.column {
    flex: 1;
    text-align: center;
    justify-content: center;
}


.checkout{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}


.checkout-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color01);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-self: flex-end;
}

.checkout-btn:hover {
    background-color: var(--color02);
}

form .col-md-6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 12px 0;
}

form .col-md-6 .form-group {
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
}

form .col-md-6 .form-group select{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  border-bottom-width: 2px;
  overflow-y: scroll;
  background-color: var(--white);
  font-size: 16px;
  
  outline: none;
}

.qtyInput{
    width: 50px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0 10px;
}

.item-quantity{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
 .cart-section{
        margin: 10px;
 }

}
