@import url(./dashboardCard.css);
@import url(./sideBar.css);
@import url(./calander_style.css);

:root {
      --color01: #2e8a99;
      --color02: #4F9DA9;
      --color03: #A7D8D7;
      --color04: #EAF3F4;
      --white: #fff;
      --gray: #f5f5f5;
      --black1: #222;
      --black2: #000000;
}


::-webkit-scrollbar {
      display: none;
}

.details {
      position: relative;
      /* width: 100%; */
      /* padding: 20px; */
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-gap: 30px;
      /* margin-top: 10px; */
      /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); */
      margin-left: 20px;
      margin-right: 20px;
}

.details .calanderdiv{
      position: relative;
      display: grid;
      min-height: 500px;
      background: var(--white);
      padding: 20px;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
      border-radius: 20px;

}

.calanderdiv iframe{
      width: 100%;
      height: 100%;
      border: none;


}

<<<<<<< HEAD


.charts{
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-gap: 20px;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
      /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); */
      /* border-radius: 20px; */
      /* padding: 20px; */
}

.charts div{
      position: relative;
      display: grid;
      min-height: 300px;
      /* background: #A7D8D7; */
      padding: 20px;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      max-height: 400px;
}





=======
>>>>>>> c7fe152c98711b399b473054f9c6ee90e09b9ea7
@media (max-width: 1024px) {
      .details {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }

<<<<<<< HEAD
      .charts {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
      }
      .charts div{
            max-height: 400px;
      }

      .charts .chart1{
            grid-area: 1 / 1 / 2 / 3;
      }

      .charts .chart2{
            grid-area: 2 / 1 / 3 / 2;
      }

      .charts .chart3{
            grid-area: 2 / 2 / 3 / 3;
      }

=======
>>>>>>> c7fe152c98711b399b473054f9c6ee90e09b9ea7
}

@media (max-width: 768px) {
      .details {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
}

@media (max-width: 480px) {

      .details {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
<<<<<<< HEAD
      .charts{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
      }

      .charts .chart1{
            grid-area: 1 / 1 / 2 / 2;
      }

      .charts .chart2{
            grid-area: 2 / 1 / 3 / 2;
      }

      .charts .chart3{
            grid-area: 3 / 1 / 4 / 2;
      }
=======
>>>>>>> c7fe152c98711b399b473054f9c6ee90e09b9ea7
}