@import url(./dashboardCard.css);
@import url(./sideBar.css);
@import url(./calander_style.css);

:root {
      --color01: #2e8a99;
      --color02: #4F9DA9;
      --color03: #A7D8D7;
      --color04: #EAF3F4;
      --white: #fff;
      --gray: #f5f5f5;
      --black1: #222;
      --black2: #000000;
}


::-webkit-scrollbar {
      display: none;
}

.details {
      position: relative;
      /* width: 100%; */
      /* padding: 20px; */
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-gap: 30px;
      /* margin-top: 10px; */
      /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); */
      margin-left: 20px;
      margin-right: 20px;
}

.details .calanderdiv{
      position: relative;
      display: grid;
      min-height: 500px;
      background: var(--white);
      padding: 20px;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
      border-radius: 20px;

}

.calanderdiv iframe{
      width: 100%;
      height: 100%;
      border: none;


}

@media (max-width: 1024px) {
      .details {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }

}

@media (max-width: 768px) {
      .details {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
}

@media (max-width: 480px) {

      .details {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
}