/* colors */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'poppins';
}

:root {
      --color01: #2e8a99;
      --color02: #4F9DA9;
      --color03: #A7D8D7;
      --color04: #EAF3F4;
      --white: #fff;
      --gray: #f5f5f5;
      --black1: #222;
      --black2: #000000;
}

::-webkit-scrollbar {
      display: none;
}

/*LANDING SECTION--------------------------------------------------------------------------------------------------*/
.sec-landing {
      position: relative;
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      background-image: url(../images/background.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
}

.sec-landing .landing-content {
      position: relative;
      width: 100%;
      max-width: 1200px;
      height: 100%;
      /* display: flex; */
      align-items: center;
      justify-content: center;
      padding: 0 50px;
      top: 25%;
      /* background-color: #EAF3F4; */
}

.sec-landing .landing-content h2{
      font-size: 50px;
      font-weight: 600;
      color: var(--white);
      text-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.sec-landing .landing-content h1{
      font-size: 120px;
      font-weight: 600;
      color: var(--white);
      text-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.sec-landing .landing-content h3{
      font-size: 70px;
      font-weight: 400;
      color: var(--white);
      text-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.sec-landing .landing-image{
      display: flex;
      justify-content:flex-end;
      align-items: center;
      /* width: 100%; */
      /* height: 100%; */
      /* background: #a7d8d731; */
}

.sec-landing .landing-image img{
      
      object-fit: cover;
}



/* our services section----------------------------------------------------------------------------*/
.sec-service {
      padding: 10px;
}

/* topic */
.tagrow{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-bottom: 20px;
      

}

.tagrow h2{
      font-size: 30px;
      font-weight: 600;
      color: var(--color01);
      text-align: center;
      text-decoration: dashed;
      text-decoration-color: var(--color01);
}

.sec-service .service-cards{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 30px;
}

.sec-service .service-cards .card{
      position: relative;
      background: var(--white);
      padding: 10px;
      /* height:100px; */
      width: 250px;
      border-radius: 20px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      cursor: pointer;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
      text-decoration: none;
      align-items: center;
      justify-content: center;
      text-align: center;
}

.sec-service .service-cards .card .card-icon{
      /* width: 100px; */
      /* height: 100px; */
      background: none;
      border-radius: 100%;
      /* padding: 10px; */
      /* display: flex; */
      justify-content: center;
      align-items: center;
      font-size: 40px;
      color: var(--color01);
      /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); */
}

.sec-service .service-cards .card:hover{
      background: var(--color03);
}

.sec-service .service-cards .card .cardName{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: var(--black1);
      font-weight: 600;
      margin-top: 20px;
}




/* Reservation Details---------------------------------------------------------------------------------------------------------------- */
.details {
      position: relative;
      /* width: 100%; */
      /* padding: 20px; */
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-gap: 30px;
      /* margin-top: 10px; */
      /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); */
      margin-left: 20px;
      margin-right: 20px;
}

.details .calanderdiv{
      position: relative;
      display: grid;
      min-height: 500px;
      background: var(--white);
      padding: 20px;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
      border-radius: 20px;

}

.calanderdiv iframe{
      width: 100%;
      height: 100%;
      border: none;
}


/* Our Coaches---------------------------------------------------------------------------------- */


.tag{
      margin-left: 10vw;
}

.tagrow .btn {
      position: relative;
      padding: 5px 10px;
      background: var(--color02);
      text-decoration: none;
      color: var(--white);
      border-radius: 6px;
      cursor: pointer;
      margin-right: 10vw;
}
.tagrow .btn:hover{
      background-color: var(--color01);
}


/* btns */
.adspre-btn, .adsnxt-btn{
      border: none;
      width: 10vw;
      height: 100%;
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      cursor: pointer;
      z-index: 8;
  }

.adspre-btn{
      left: 0;
      transform: rotate(180deg);
  }
  
.adsnxt-btn{
      right: 0;
  }
  
 .adspre-btn img, .adsnxt-btn img{
      opacity: 0.2;
  }
  
  .adspre-btn:hover img, .adsnxt-btn:hover img{
      opacity: 1;
  }



/* Advertisement---------------------------------------------------------------------------------- */
.advertisement{
      position: relative;
      overflow: hidden;
      padding: 20px 0;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
      /* border-radius: 20px; */
      margin: 20px 0;
}

.advertisement .tagrow{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      
}

.ads-container{
      padding: 0 8vw;
      height: 450px;
      display: flex;
      overflow: auto;
      scroll-behavior: smooth;
      /* background: #A7D8D7; */
}

.ads-container::-webkit-scrollbar{
      display: none;
}

.ads-card{
      flex:0 0 auto;
      width: 400px;
      height: 450px;
      margin-right:40px;
      /* background: #4F9DA9; */
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.ads-img{
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 20px;
}

.ads-thum{
      width: 100%;
      height: 100%;
      object-fit: cover;
}


/* About Us---------------------------------------------------------------------------------- */
.sec-about{
      position: relative;
      overflow: hidden;
      padding: 0 20px;
      background: none;
      /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); */
      /* border-radius: 20px; */
      /* margin: 20px 0; */
      margin-bottom: 20px;
}

.about-content{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      /* padding: 0 8vw;        */
}

.map-div{
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
      padding: 10px;
}

.google-map iframe{
      border-radius: 20px;
      width: 100%;
      height: 500px;
}

.about-div{
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
      padding: 10px;
}

.aboutDetails{
      display: flex;
      flex-direction: column;
}

.aboutDetails .detail{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      gap: 10px;
      font-size: 18px;
}

.aboutDetails .detail .tick{
      font-size: 20px;
      color: var(--color01);
}


/* footer---------------------------------------------------------------------------------- */
.footer{
      position: relative;
      width: 100%;
      /* height: 250px; */
      background: var(--color03);
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-top: 20px;
      margin-bottom: 0;
}

.footer .footer-content{
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      padding: 10px;
}

.footer .footer-content .footerlogo{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.footer .footer-content h3{
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
      color: var(--color01);

}

.footer .footer-content .footer-links{
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
}

.footer .footer-content  li{
      list-style: none;
      margin: 0;
}

.footer .footer-content  a{
      text-decoration: none;
      color: var(--color02);
      font-size: 15px;
      font-weight: 400;
      text-align: start;
}

.footer .footer-content  a:hover{
      color: var(--color01);
}

.footer-item{
      display: flex;
      justify-content:start;
      align-items: start;
      font-size: 20px;
      font-weight: 600;
      text-align: start;
      margin-top: 10px;
}

.footer-item .icon{
      font-size: 20px;
      color: var(--color01);
      margin-right: 10px;
}

.footer-content .socials{
      display: flex;
      flex-direction: row;
      margin-top: 10px;
}

.socials .icon{
      font-size: 40px;
      color: var(--color02);
      margin-right: 20px;
      justify-content: space-between;
}

.socials .icon:hover{
      color: var(--color01);
}









/* responsive media queries _______________________________________________________________________________________________________________ */
@media (max-width: 1024px) {
      .details {
            grid-template-columns: 1fr;
            grid-gap: 20px;
      }
      
}


@media (max-width: 992px) {
      .sec-landing .landing-content h2{
            font-size: 40px;
      }

      .sec-landing .landing-content h1{
            font-size: 100px;
      }

      .sec-landing .landing-content h3{
            font-size: 60px;
      }

      .sec-service .service-cards .card{
            width: 200px;
      }

      .sec-service .service-cards .card .card-icon{
            font-size: 30px;
      }

      .sec-service .service-cards .card .cardName{
            font-size: 15px;
      }
      
      .about-content{
            display: flex;
            flex-direction: column;
      }

      .footer{
            grid-template-columns: 1fr 1fr;
      
      }
}

@media (max-width: 768px) {

      .sec-landing{
            display: flex;
      }

      .sec-landing .landing-content h2{
            font-size: 50px;
      }

      .sec-landing .landing-content h1{
            font-size: 70px;
      }

      .sec-landing .landing-content h3{
            font-size: 40px;
      }

      .sec-landing .landing-image{
            display: none;
      }
      



      /* ...... */
      .sec-service .service-cards .card{
            width: 200px;
      }

      .sec-service .service-cards .card .card-icon{
            font-size: 30px;
      }

      .sec-service .service-cards .card .cardName{
            font-size: 15px;
      }
      
      .adspre-btn, .adsnxt-btn{
            width: 5vw;
      }


      /* advertisement */
      .ads-container{
            padding: 0 5vw;
      }

      .ads-card{
            width: 320px;
            height: 350px;
      }

      .ads-img{
            height: 350px;
      }

      .ads-thum{
            height: 100%;
      }


      .footer .footer-content .footerlogo{
            width: 100%;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
      }




      
}

@media (max-width: 480px) {
      .sec-landing .landing-content h2{
            font-size: 20px;
      }

      .sec-landing .landing-content h1{
            font-size: 40px;
      }

      .sec-landing .landing-content h3{
            font-size: 20px;
      }

      .sec-service .service-cards .card{
            width: 150px;
      }

      .sec-service .service-cards .card .card-icon{
            font-size: 20px;
      }

      .sec-service .service-cards .card .cardName{
            font-size: 10px;
      }


      /* coaches */

      .coaches-container{
            padding: 0 2vw;
      }

      .coach-card{
            width: 200px;
            height: 250px;
      }

      .coach-img{
            height: 220px;

      }

      .coach-details{
            height: 40px;
      }

      .coach-name{
            font-size: 12px;
      }

      .pre-btn, .nxt-btn,
      .adspre-btn, .adsnxt-btn{
            width: 5vw;
      }


      /* advertisement */

      .ads-container{
            padding: 0 2vw;
      }

      .ads-card{
            width: 320px;
            height: 350px;
      }

      .ads-img{
            height: 350px;
      }

      .ads-thum{
            height: 100%;
      }


      .footer .footer-content  a{
            font-size: 10px;
      }


      
}