.maindiv{
    
      /* background-color: var(--color04); */
      border-radius: 20px;
      padding: 20px;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.maindiv h2{
      text-align: left;
      color: var(--color01);
}

.recentSessions{
      /* margin-top: 20px; */
      border-radius: 20px;
}

.session-item-heading{
      display: flex;
      justify-content: space-between;
      /* border-bottom: 1px solid #ddd; */
      padding: 10px 0;
      font-weight: bold;
      /* background-color: var(--color02); */
      border-radius: 10px;
      margin-bottom: 5px;
}

.column {
      flex: 1;
      text-align: center;
      justify-content: center;
}

.session-items {
      margin-bottom: 20px;
      overflow: scroll;
}

.session-item {
      display: flex;
      border: 1px solid #ddd;
      padding: 10px 0;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      margin-bottom: 5px;
      /* background-color: var(--color02); */
}

.session-item:hover{
      background-color: var(--color01);
      color: var(--white);
}

/* responsive */
@media screen and (max-width: 768px) {
      .maindiv {
            margin: 5px;
            
      }
}