@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
.card-wrapper {
  /* padding-top: 80px; */
  display: flex; /* Display children in a row */
  overflow-x: auto; /* Allow horizontal scrolling */
  scroll-snap-type: x mandatory; /* Enable snapping for horizontal scrolling */
}

.card {
  flex: 0 0 auto; 
  width: 200px; 
  margin-right: 20px; /* Add some space between cards */
  scroll-snap-align: start; /* Snap card to the start of the container */
}
.slider-container .card {
  width: 400px; /* Adjust width as needed */
}

.slider-container {
  max-width: 100%;
  width: 100%;
  padding-top: 20px;
}
.slider-content {
  overflow: hidden;
  /* border-radius: 25px; */
  margin: 0 20px;
 
}
.card {
  width: 200px;
  border-radius: 25px;
  background-color: #fff;
}
.image-content,
.card-content {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-content {
  /* height: 200px; */
  background-color: #eaeaea;
  border-radius: 0 0 25px 25px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;

}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4f9da9;
  border-radius: 25px 25px 0px 0px;
}
/* .overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  width: 40px;
  height: 40px;
  background-color: #4f9da9;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
} */
.card-image {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4f9da9;
}
.name {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.description-wrapper {
  max-width: 200px; /* Adjust as needed */
  overflow-wrap: break-word;
}

.description {
  width: 200px;
  font-size: 14px;
  color: #707070;
  text-align: center;

  word-wrap: break-word; /* Allow wrapping of long words */
  max-height: 300px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
  margin-bottom: 20px;
}
/* .button {
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #4F9DA9;
  color: white;
  margin: 14px;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 400;
  cursor: pointer;
  transition: all ease 0.3s;
} */
.description {
  word-wrap: break-word; /* Allow wrapping of long words */
}
.description {
  width: 100%;
  max-height: max-content;
  overflow: auto;
  /* overflow-wrap: break-word; */
}

.button1,
.button2 {
  /* padding-top: 20px; */
  display: inline-block;
  /* padding: 10px 20px; */
  background-color: #4f9da9;
  color: #fff;
  text-decoration: none;
  border: none;
  /* border-radius: 5px; */
  /* margin: 14px; */
  /* padding: 8px 16px; */
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 10px;
  /* font-weight: 400; */
}


.button:hover {
  background-color: #2e8a99;
}
.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4f9da9;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination.bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination.bullet-active {
  background-color: #4f9da9;
}

.table-container {
  /* width: 100%; */
  position: relative;
  display: block;
  /* overflow-y: scroll; */
  /* height: 100%;   */
  border-radius: 12px;
  /* background-color: #A7D8D7; */
  align-items: center;
  justify-content: center;
  /* background-color: #A7D8D7; */
  /* width: 94%; */
  margin: 30px;
  margin-top: 50px;
}

.table-container h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--black1);
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  /* padding-bottom: 20px; */
  overflow-y: scroll;
  min-width: 80%;
}

table thead {
  display: table-header-group;
  /* vertical-align: middle; */
  border-color: inherit;
  background-color: var(--color02);
}

table thead th {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
table tbody td {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: left;
}

table tbody tr:hover {
  background: var(--color03);
  color: var(--black1);
}
table tr td,
table tr th {
  padding: 10px;
}

tbody a {
  text-decoration: none;
  /* color: var(--black1); */
}
#coachTable td a {
  text-decoration: none;
  color: var(--black1);
  font-size: 1.4em; /* Adjust the font size */
  margin-right: 20px; /* Add space to the right */
}

#coachTable td button {
  background-color: transparent;
  border: none;
  color: var(--black1);
  font-size: 1.4em; /* Adjust the font size */
  margin-right: 20px; /* Add space to the right */
  cursor: pointer;
}

tbody td .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 10px;      */
}

tbody td .icon:hover {
  cursor: pointer;
}

#coachTable {
  border-collapse: collapse;
  width: 100%;
}

#coachTable th,
#coachTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .slider-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
