
/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* colors */

:root {
      --color01: #2e8a99;
      --color02: #4F9DA9;
      --color03: #A7D8D7;
      --color04: #EAF3F4;
      --white: #fff;
      --gray: #7d7d7d;
      --black1: #222;
      --black2: #000000;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  background: #c8e8e9;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.container {
  
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
  display: flex;
  /* flex-shrink: 0; */
  width: 100%;
  height: 100%;
  position: relative;
}
.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: var(--color01);
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
}

a{
      text-decoration: none;
      color: var(--gray)
}

a:hover{
      color: var(--color02);
}

.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: var(--color01);
}
.right-side .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: var(--color04);
  border-radius: 12px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;

}
.right-side .button {
  margin-top: 50px;
  display: flex;
}
.right-side .button input[type="submit"] {
  color: #fff;
  font-size: 15px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 12px;
  background: var(--color01);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="submit"]:hover {
  background: var(--color02)
}


.input-box .form-invalid{
  color: rgb(172,5,5);
  font-size: 14px;
}
  


@media (max-width: 950px) {
  
  .container {
    width: 100%;
    height: 100%;
    /* padding: 30px; */
    /* background-color: #afafb6; */
  }
  .container .content .right-side {
    width: 75%;
    /* margin-left: 55px; */
    /* background-color: #A7D8D7; */
  }

  .container .content .left-side {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    /* margin-top: 20px; */
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: #335756; */
  }

  .button
  {
    display: flex;
    justify-content: center;
  }
}


@media (max-width: 820px) {
  .container {
    margin: 40px 0;
    height: 100%;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

