:root {
      --color01: #2e8a99;
      --color02: #4F9DA9;
      --color03: #A7D8D7;
      --color04: #EAF3F4;
      --white: #fff;
      --gray: #f5f5f5;
      --black1: #222;
      --black2: #000000;
    }



/* ======================= Cards ====================== */
.cardBox {
      position: relative;
      width: 100%;
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;
    }
    
    .cardBox .card {
      position: relative;
      background: var(--white);
      padding: 30px;
      height: 150px;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
      text-decoration: none;

    }
    
    .cardBox .card .numbers {
      position: relative;
      font-weight: 500;
      font-size: 2.5rem;
      color: var(--black1);
    }
    
    .cardBox .card .cardName {
      color: var(--black1);
      font-size: 1.1rem;
      margin-top: 5px;
      text-decoration: none;
    }
    
    .cardBox .card .iconBx {
      font-size: 3.5rem;
      color: var(--color01);
    }
    
    .cardBox .card:hover {
      background: var(--color01);
    }
    .cardBox .card:hover .numbers,
    .cardBox .card:hover .cardName,
    .cardBox .card:hover .iconBx {
      color: var(--white);
    }


/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
      .cardBox {
        grid-template-columns: repeat(2, 1fr);
      }
}
@media (max-width: 480px) {
      .cardBox {
        grid-template-columns: repeat(2, 1fr);
      }
      .cardBox .card {
        padding: 20px;
        height: 100px;
        border-radius: 20px;  
        justify-content: space-between;
      }
      .cardBox .card .numbers {
        position: relative;
        font-weight: 500;
        font-size: 1.5rem;
        color: var(--black1);
      }
      
      .cardBox .card .cardName {
        font-size: 1.2rem;
        margin-top: 3px;
      }
      
      .cardBox .card .iconBx {
        font-size: 2rem;
      }
}


  
  
  
  
    