/* editProfileStyle.css */
:root {
      --color01: #2e8a99;
      --color02: #4F9DA9;
      --color03: #A7D8D7;
      --color04: #EAF3F4;
      --white: #fff;
      --gray: #f5f5f5;
      --black1: #222;
      --black2: #000000;
}



  
  .container {
      /* max-width: 800px; */
      /* margin: 50px auto; */
      background-color: var(--white);
      padding: 20px;
      border-radius: 8px;
      /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
      align-items: center;
      justify-content: center;
      /* width: 100%; */
      height: 100%;
      margin-left: 20%;
      margin-right: 20%;
  }
  
  .head {
      text-align: center;
      margin-bottom: 20px;
  }
  
  .form-title {
      color: var(--black1);
  }
  
  /* .profilecontainer {
      display: grid;
      gap: 20px;
  } */
  
  .profilepic {
      text-align: center;
      margin-bottom: 20px;
  }
  
  .profile-pic {
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #ddd;
      overflow: hidden;
      cursor: pointer;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
      align-self: center;
  }

  .profile-pic:hover {
      opacity: 0.5;
  }
  
  .profile-pic span {
      position: absolute;
      /* display: inline-flex; */
      padding: 0.2em;
      top: 50%;
      /* left: 50%; */
      transform: translate(-50%, -50%);
      visibility: hidden;
      font-size: 2em;
  }

      .profile-pic:hover span {
      visibility: visible;
      }
  
  .profile-image {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
  }
  
  .propiclabel {
      cursor: pointer;
      display: block;
  }
  
  /* Profile Details */
  .profileDetails {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      /* background-color: var(--color03); */
  }
  
  .box {
      display: grid;
      gap: 5px;
      /* justify-content: center; */
  }
  
  .box label {
      font-weight: bold;
  }
  
  .box input[type="text"],
  .box input[type="email"] {
      display: flex;
      /* width: 100%; */
      /* margin: 10px; */
      padding: 10px;
      border-radius: 5px;
      border: 1px solid var(--color03);
  }
  
  .buttons {
      text-align: center;
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      /* background-color: #000000; */
  }
  
  .button {
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      background-color: var(--color01);
      color: var(--white);
      cursor: pointer;
      text-decoration: none;
      /* margin-right: 10px; */
      font-size: 12px;
  }
  
  .button:hover {
      background-color: var(--color02);
  }



  
  /* Responsive Styles */

      @media (max-width: 1024px) {
            .container {
            margin-left: 10%;
            margin-right: 10%;
            }
      }
  @media (max-width: 768px) {
      .container {
            margin-left: 10%;
            margin-right: 10%;
      }
  
      .buttons {
            justify-content: space-between;
        }
  }


  @media (max-width: 480px) {
      .container {
          margin-left: 0%;
          margin-right: 0%;
      }

      .profileDetails {
          display: grid;
          grid-template-columns: 1fr;
          gap: 15px;
          background-color: var(--color03);
      }
      
  }
  