:root {
  --color01: #2e8a99;
  --color02: #4f9da9;
  --color03: #a7d8d7;
  --color04: #eaf3f4;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #000000;
}

.product-details {
  width: 100%;
  padding: 60px 10vw;
  display: flex;
  justify-content: space-between;
}

.image-slider {
  width: 500px;
  height: 500px;
  position: relative;
}

.product-images img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.product-images img:hover {
  opacity: 0.5;
}

.details {
  width: 50%;
}

.details .product-brand {
  text-transform: capitalize;
  font-size: 30px;
}

.details .product-short-des {
  font-size: 16px;
  line-height: 25px;
  height: auto;
  margin: 15px 0 30px;
}

.product-price {
  font-weight: 700;
  font-size: 30px;
}

.product-actual-price {
  font-size: 30px;
  opacity: 0.5;
  text-decoration: line-through;
  margin: 0 20px;
  font-weight: 300;
}

.product-discount {
  color: #ff7d7d;
  font-size: 20px;
}

.product-sub-heading {
  font-size: 30px;
  text-transform: uppercase;
  margin: 60px 0 10px;
  font-weight: 300;
}

.form-field {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-increment {
  display: flex;
  align-items: center;
}

.form-increment button {
  background-color: white;
  color: #000000;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.form-input--incrementTotal {
  width: 50px;
  text-align: center;
}

.icon {
  height: 1.333333rem;
  width: 1.333333rem;
  display: inline-block;
  vertical-align: middle;
}

.btn {
  width: 48%;
  padding: 20px;
  border-radius: 5px;
  background: none;
  border: 1px solid #2e8a99;
  color: var(--color02);
  font-size: 20px;
  cursor: pointer;
  margin: 20px 0;
  text-transform: capitalize;
}

.cart-btn {
  margin-right: 2%;
  background: var(--color01);
  color: #fff;
}
