@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

:root {
    --primary: #2e8a99;
    --secondary: #4f9da9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}




/* ............................................................................................... */
.sec-landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sec-landing::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
}
.companyName{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rancho', cursive;
    font-size: 3em;
    color: #fff;
    margin: 20px;
    padding: 20px;
}

.btnrow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.btn {
    position: absolute;
    text-decoration: none;
    display: flex;
    padding: 8px 30px;
    background: var(--primary);
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translatey(100px);
}

.btn:hover {
    background: #fff;
    color: var(--primary);
}

/* .............................................. */

.sec {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    align-items:center;
    justify-content: center;
    /* background: var(--primary); */
}

.sec h2 {
    font-size: 3.4em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
}

.tagrow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.tagrow h2{
    font-size: 2em;
    color: #000;
    margin: 100px;
}

hr{
    width: 100%;
    height: 2px;
    background-color: #fff;
    border: none;

}
.box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    gap: 30px;
}

h4{
    font-size: 1em;
    color: #000;
    justify-self: center;
    /* margin: 20px; */
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table thead tr {
    background-color:var(--primary);
    color: #ffffff;
    text-align: center;
    height: 30px;
    
}

.th,
.table td {
    padding: 10px;
    text-align: center;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:hover{
    background-color: #f3f3f3;
}

.mainbox{
    align-items:center;
    justify-content: center;
    gap: 50px;
    
}
.mainbox h4{
    display: flex;
    font-size: 1em;
    color: rgb(219, 124, 124);
    align-content: center;
    /* margin: 20px; */

}
.parking{
    gap: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    color: var(--secondary);
}

.parking h3{
    display: flex;
    font-size: 1.5em;
    color: var(--secondary);
    align-content: center;
    /* margin: 20px; */

}

.box2{
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    box-shadow: #a5a5a5 0px 0px 20px;
}

.box2 h4{
    display: flex;
    font-size: 1.5em;
    color: var(--primary);
    align-items: center;
    justify-content: center;
    padding: 5px;
    /* margin: 20px; */
}

.box2 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box2 li{
    font-size: 1.2em;
    color: #000;
    justify-self: center;
    display: flex;
    align-items: center;
    
    /* margin: 20px; */
}

.google-map,
.calander{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    gap: 30px;
}


.google-map iframe,
.calander iframe{
    width: 600px;
    height: 400px;
    border: 0;
    border-radius: 10px;
}

.mainbox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.mainbox2 .box2{
    background-color: #EAF3F4;
    width: 300px;
    height: 70px;
}

.mainbox2 .box2:hover{
    transform: scale(1.1);
}

.mainbox3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left:10px;
    margin-right: 10px;
}

.mainbox3 h6{
    font-size: 1em;
    color:  rgb(219, 124, 124);
    justify-self: center;
    /* margin: 20px; */
}

.mainbox3 .btn{
    background-color: #4f9da9;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translatey(100px);
    margin: 50px;
}

.mainbox3 .btn:hover{
    background-color: #fff;
    color: #4f9da9;
}

.box4{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 50px;
    margin-left:10px;
    margin-right: 10px;
    background-color: #EAF3F4;
    width: 300px;
    height: 70px;
    box-shadow: #a5a5a5 0px 0px 20px;
}

.box4:hover{
    transform: scale(1.1);
}

.box4 h3{
    font-size: 1em;
    color:  rgb(59, 59, 59);
    margin-left: 10px;
    /* justify-self: center;
    align-items:center; */
    /* margin: 20px; */
}

.footer{
    background-color: #2e8a99;
    /* display: flex; */
    padding: 10px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left:10px;
    margin-right: 10px;

}
.contentbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left:10px;
    margin-right: 10px;
    width: 300px;
    height: 70px;
}



/* media queries */
@media (max-width: 800px) {

    #header ul li a {
        font-size: 1em;
        padding: 6px 8px;
    }
    .companyName{
        font-size: 2em;
    }

    .btn {
        font-size: 1em;
        padding: 8px 20px;
    }

    .tagrow h2{
        font-size: 2em;
    }
    .box {
        flex-direction: column;
        gap: 10px;
    }
    .table {
        min-width: 400px;
    }

    .box2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .box2 h4{
        font-size: 1.2em;
    }

    .box2 li{
        font-size: 1em;
    }

    .google-map,
    .calander{
        flex-direction: column;
        width: 400px;
        height: 400px;
    }

    .google-map iframe,
    .calander iframe{
        width: 400px;
        height: 300px;
        border: 0;
        border-radius: 10px;
    }

    .mainbox2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-left:10px;
        margin-right: 10px;
    
    }

    .mainbox2 .box2{
        width: 200px;
        height: 70px;
    }

    .mainbox2 .box2 h3{
        font-size: 0.8em;
    }

    .mainbox3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-left:10px;
        margin-right: 10px;
    }
    
    .mainbox3 .btn{
        font-size: 0.5em;
        padding: 8px;
        margin-top: 100px;
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-left:10px;
        margin-right: 10px;    
    }
    .contentbox{
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-left:10px;
        margin-right: 10px;
        width: 300px;
        height: 50px;
    }
}
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to left top, #fff);
}
h1, .btn2 {
  display: inline-block;
  vertical-align: middle;
}

.btn2 {
  margin-left: 200px;
  margin-bottom: 50px; /* Adjust the margin as needed */
}


h1{
  font-size: 6 rem;
  align-items: center;
  margin-left: 400px;
  margin-bottom: 50px;
}
.btn1,.btn2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2E8A99; /* Set your desired background color */
  color: #fff; /* Set text color */
  text-decoration: none;
  border: 1px solid #5bbac9; /* Set border color same as background for a consistent look */
  border-radius: 5px; /* Optional: Add rounded corners */
  transition: background-color 0.3s ease; /* Optional: Add smooth transition for background color change */

  /* Additional styles for hover state */
}

.btn1:hover,.btn2:hover {
  background-color: #5bbac9; /* Set a slightly darker shade for the hover effect */
  color: #fff; /* Set text color on hover */
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  margin-left: 200px;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 0%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 400px;
  list-style: none;
  background: #7ac3c0;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #2E8A99;
  height: 248px;
  width: 248px;
  border-radius: 5%;
}
.card .img img {
  width: 240px;
  height: 240px;
  border-radius: 5%;
  object-fit: cover;
  border: 2px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 10px 0 5px;
}
.carousel .card span {
  color: #000;
  font-size: 1rem;
}
/* .btn1 {
    width: 30%;
    height: 30px;
    border-radius: 40px;
    background:rgb(51, 162, 165);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .8em;
    color: #ffffff;
    font-weight: 600;
    transition: 0.5s;
    margin-top: 8px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  }
  
  .btn1:hover {
    background:rgb(101, 191, 194);
    /* border: #87d8d5; */
 /* }
   */

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
  h1{
    margin-left: 200px;
  }
  .btn2 {
    margin-left: 100px;
    margin-bottom: 50px; /* Adjust the margin as needed */
  }
  .wrapper {
    max-width: 1100px;
    width: 90%;
    position: relative;
    margin-left: 25px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
  h1{
    margin-left: 100px;
  }
  .btn2 {
    margin-left:200px;
  }
  .wrapper {
    max-width: 1100px;
    width: 90%;
    position: relative;
    margin-left: 25px;
  }
}
@media (max-width: 1100px) {
    .box {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }
    .wrapper {
        max-width: 1100px;
        width: 90%;
        position: relative;
        margin-left: 50px;
      }

}