:root {
      --color01: #2e8a99;
      --color02: #4F9DA9;
      --color03: #A7D8D7;
      --color04: #EAF3F4;
      --white: #fff;
      --gray: #f5f5f5;
      --black1: #222;
      --black2: #000000;
}

::-webkit-scrollbar {
      width: none;
}

.order-container {
      margin: 10px 10%;
      padding: 20px;
      background-color: var(--color04);
      border-radius: 8px;
      margin-bottom: 20px;
}

.orders{
    margin-top: 20px;
    border-radius: 20px;
}

.order-item-heading{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
      font-weight: bold;
      background-color: var(--color02);
      border-radius: 10px;
      margin-bottom: 5px;
}
  
.column {
      flex: 1;
      text-align: center;
      justify-content: center;
}


.order-items {
      margin-bottom: 20px;
}

.order-item {
      display: flex;
      border: 1px solid #ddd;
      padding: 10px 0;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      margin-bottom: 5px;
      /* background-color: var(--color02); */
}

.order-item:hover{
      background-color: var(--color03);
}



/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow-y: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .modal-content {
/* max-width: 700px; */
  width: 500px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 15px;
  margin: 5% auto;
  border: 1px solid #888;
  box-sizing: border-box;
  z-index: 1000;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  justify-items: center;
  }

  .modal-content .close {
    /* position: absolute; */
    cursor: pointer;
    font-size: 20px;
}



  .modal-content .title {
      display: flex;
      justify-content: space-between;
    font-size: 15px;
    /* font-weight: 800; */
    margin-bottom: 5px;
    color: var(--color01);
  }


  .modal-content .orderItems{
      display: flex;
    /* flex-direction: column; */
    /* gap: 2px; */
    justify-content: center;
    align-items: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
  
  }

.modal-content #orderItemsTable{
      width: 100%;
      border-collapse: collapse;

}

.modal-content #orderItemsTable th{
      padding: 10px;
      border-bottom: 1px solid #636363;
}

.modal-content #orderItemsTable td{
      padding: 10px;
      text-align: center;
}



/* responsive */
@media screen and (max-width: 768px) {
      .order-container {
            margin: 10px 2%;
      }
}