@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* background: var(--color04); */
}
:root {
  --color01: #2e8a99;
  --color02: #4f9da9;
  --color03: #a7d8d7;
  --color04: #eaf3f4;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #000000;
}
.details .tablediv .permaner {
  position: relative;
  display: grid;
  max-height: 550px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  height: 500px;
}

.details .tablediv .permaner .table-container,
.details .tablediv .permaner .table-container2{
  position: relative;
  /* display: block; */
  overflow-y: scroll;
  height: 400px;
}

.details .tablediv .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--color01);
}

.cardHeader .serachselect{
  background: var(--color01);
  padding: 3px 10px;
  border-radius: 6px;
}
.cardHeader .btn {
  position: relative;
  padding: 5px;
  background: var(--color01);
  text-decoration: none;
  color: var(--black1);
  border: none;
}







.details .tablediv .permaner table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  padding-bottom: 20px;
  overflow-y: scroll;
}
.details .tablediv .permaner table thead td {
  font-weight: 600;
}
.details .tablediv .permaner table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .permaner table tr:last-child {
  border-bottom: none;
}
.details .permaner table tbody tr:hover {
  background: var(--color01);
  color: var(--white);
}
.details .permaner table tr td {
  padding: 10px;
  text-align: center;
}


.status {
  display: inline-block;
  padding: 5px 10px;
  background: var(--color01);
  color: var(--black2);
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  width: 70%;
}



.rescheduleDetails h4 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
}

.cancelRescheduleDetails h4 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
}

.rescheduleDetails .day{
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
}





/* ====================== Responsive Design ========================== */
@media (max-width: 480px) {
  .details .tablediv .permaner {
    padding: 0px;
    padding-bottom: 10px;
  }
  .details .tablediv .cardHeader {
    padding: 10px 20px;
  }

  .cardHeader h2 {
    font-weight: 400;
    font-size: 20px;
    color: var(--color01);
  }

  .cardHeader .btn {
    position: relative;
    padding: 3px 5px;
    background: var(--color01);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    font-size: 10px;
  }
  .details .tablediv .permaner table thead td {
    font-size: 12px;
  }
  .details .tablediv .permaner table tbody td {
    font-size: 10px;
  }
  .status.paid,
  .status.canceled,
  .status.confirmation {
    padding: 1px 2px;
    font-size: 8px;
    font-weight: 300;
  }
}
