@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --body-color: #2E8A99;
   --sidebar-color: #1F6E8C;
   --primary-color: #A7D8D7;
   --secondary-color: #EAF3F4;
   --text-color: black;

   --trans-02: all 0.2s ease;
   --trans-03: all 0.3s ease;
   --trans-04: all 0.4s ease;
   --trans-05: all 0.5s ease;

}

body{
    height: 100vh;
    background: var(--secondary-color);
    transition: var(--trans-04);
}

/* ================Reusable CSS============= */

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

/* ===================.sidebar============ */

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--body-color);
    transition: var(--trans-05);
}

.close{
    width: 88px;
}

.close .text{
    opacity: 0;
}

.sidebar li{
    height: 50px;
    background: var(--sidebar-color);
    margin-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    font-size: 18px;
    color: var(--text-color);
    transition: var(--trans-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 150px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px ;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--sidebar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 22px;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--trans-04);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar .menu-bar{
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

