@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    background: url(../images/background.png)no-repeat;
    background-size: cover;
    background-position: center;    
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    width: 100px;
    height: 50px;
}
header .navigation a{
    color: aliceblue;
    background:#2e8a99 ;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}
header .navigation a:not(:last-child){
    margin-right: 30px;
}
.content .info-btn:hover,
header .navigation a:hover{
    background: #A7D8D7;
}
.content{
    max-width: 650px;
    margin: 100px 100px;
}
.content .info h2{
    color: #fff;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
    
} 


.content .info p{
    color:#fff;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 40px;
}
.content .info-btn{
    color: #fff;
    background-color: #2e8a99;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

    padding: 10px 20px;
    border-radius: 20px;
}
label{
    display: none;
}
#check{
    z-index: 3;
    display: none;
}

/*RESPONSIVE STYLE------------------------------*/
@media (max-width: 960px) {
.content{
    margin: 100px 50px;
}

    header .navigation{
        display: none;
    }
    label{
        color:#fff;
        display: block;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover{
       color: #2e8a99;  
    }
    label .close-btn{
        display: none;
    }
    label .menu-btn:checked ~ header .navigation {
        z-index: 2;
        position: fixed;
        background: #ffff;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        
    }
#check:checked ~ header .navigation {
    z-index: 2;
    position: fixed;
    background: rgba(46, 138, 153, .9); 
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#check:checked ~ header .navigation a{
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
}
#check:checked ~ header label .menu-btn{
    display: none;

}
#check:checked ~ header label .close-btn{
    display: block;
    position: fixed;
    z-index: 2;

}
label .menu-btn{
    position: absolute;
}
header .logo{
    position: absolute;
    bottom: -6px;
}
.content .info h2{
    font-size: 45px;
    line-height: 50px;
}
.content .info p{
    font-size: 14px;
}
.content .info-btn{
    font-size: 12px;
    padding: 8px 15px;
}
}


@media (max-width:560px) {
    .logo{
        margin-left: -50px;
    }
    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }
    .content .info p{
        font-size: 14px;
    }
    label .close-btn:hover{
        color: #1F6E8C;
    }   
}