/* footer---------------------------------------------------------------------------------- */
.footer{
      position: relative;
      width: 100%;
      /* height: 250px; */
      background: var(--color03);
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-top: 20px;
      margin-bottom: 0;
}

.footer .footer-content{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      padding: 10px;
}

.footer .footer-content .footerlogo{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.footer .footer-content h3{
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
      color: var(--color01);

}

.footer .footer-content .footer-links{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

.footer .footer-content  li{
      list-style: none;
      margin: 0;
}

.footer .footer-content  a{
      text-decoration: none;
      color: var(--color02);
      font-size: 15px;
      font-weight: 400;
      text-align: start;
}

.footer .footer-content  a:hover{
      color: var(--color01);
}

.footer-item{
      display: flex;
      justify-content:start;
      align-items: start;
      font-size: 20px;
      font-weight: 600;
      text-align: start;
      margin-top: 10px;
}

.footer-item .icon{
      font-size: 20px;
      color: var(--color01);
      margin-right: 10px;
}

.footer-content .socials{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
}

.socials .icon{
      font-size: 40px;
      color: var(--color02);
      margin-right: 20px;
      justify-content: space-between;
}

.socials .icon:hover{
      color: var(--color01);
}



@media (max-width: 992px) {
      .footer{
            grid-template-columns: 1fr 1fr;
      }
}


@media (max-width: 768px) {
      .footer .footer-content .footerlogo{
            width: 100%;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
      }
}


@media (max-width: 480px) {
      .footer .footer-content  a{
            font-size: 10px;
      }
}
